<!DOCTYPE html>
<html>
<head>
  <title>Plentyoftreats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->

</head>
<body>
<div id="user_nav">

</div>

<%= yield %>

<script src="js/jquery.js"></script>
</body>
</html>
